@import url('https://fonts.googleapis.com/css2?family=Qahiri&display=swap');

    @import url('https://fonts.googleapis.com/css2?family=Otomanopee+One&family=Qahiri&display=swap');


.user{
    background-color: #cf3328;
        height: 80px;
}
.nouser{

 background-color: #cf3328;
  padding-inline: 13%;
  padding-top: 1%;

}


.container{
padding:6px;
}

nav a{
    font-size: 17px;
    font-family: 'Julius Sans One', sans-serif;
        padding-inline: 2%;
        color: white;
        text-decoration: none;
         float: right;
}

.navbar{
font-family: 'Qahiri', sans-serif;
       text-size: large;
       font-size: -webkit-xxx-large;
           text-align: center;
           color:white;
}
img{

    width: 8%;
    height: 4%;
}
body {

background-image: url(https://avatars.githubusercontent.com/u/3904529?s=280&v=4);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 47% 90%;


}
.splash{
text-align:center;
font-family: 'Otomanopee One', sans-serif;
    font-size: 223%;
    color: darkcyan
}

.signUp{
align-item:center
}
.icon{

width: 12%;
height:4%;

}
