<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/style.css" rel="stylesheet"/>
</head>
<body>
<header><div th:replace="navbar :: navbar"></div></header>
<h1>Hello <span th:text="${username.firstName}"></span></h1>
<div >
  <h3>List of  <span th:text="${username.firstName}"></span> post </h3>
  <ul>
    <li th:each="post : ${posts}">
      <p><span th:text="${post.body}"></span> | <span th:text="${post.createdAt}"></span></p>
    </li>

  </ul>
</div>


</body>
</html>