<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <link href="/style.css" rel="stylesheet"/>
</head>
<body>
<header> <div th:replace="navbar :: navbar(${user})"></div></header>

<h1>Sign up Page</h1>

<form th:action="@{/signUp}" method="POST">
  <label>UserName:</label>
  <input type="text" name="username" />
  <label>Password:</label>
  <input type="password" name="password" />
  <label>First Name:</label>
  <input type="text" name="firstName" />
  <label>Last name:</label>
  <input type="text" name="lastName" />
  <label>Date of Birth:</label>
  <input type="date" name="dateOfBirth" />
  <label>Bio:</label>
  <input type="text" name="bio" />
  <input type="submit" />
</form>

<a href="/home">Home</a> | <a href="/login">Login</a>

</body>
</html>