<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <link href="/style.css" rel="stylesheet"/>
</head>
<body>

<header><div th:replace="navbar :: navbar"></div></header>
<main>
<h1>Sign up Page</h1>

<form class="signUp" th:action="@{/signUp}" method="POST">
  <label>UserName:</label>
  <input type="text" name="username" />
  <br>
  <br>
  <label>Password:</label>
  <input type="password" name="password" />
  <br>
  <br>
  <label>First Name:</label>
  <input type="text" name="firstName" />
  <br>
  <br>
  <label>Last name:</label>
  <input type="text" name="lastName" />
  <br>
  <br>
  <label>Date of Birth:</label>
  <input type="date" name="dateOfBirth" />
  <br>
  <br>
  <label>Bio:</label>
  <input type="text" name="bio" />
  <br>
  <br>
  <input type="submit" />
</form>

</main>
</body>
</html>